* {
    font-family: monospace;
}

img {
    height: 400px;
    width: auto;
}

.ingredients {
    background-color: darkgoldenrod;
}

.method {
    background-color: slategrey;
}

.description {
    background-color: black;
    color: antiquewhite;
}

h1, h2{
    text-align: center;
}